<form *ngIf="lunch" [formGroup]="lunch" (ngSubmit)="onSubmit(lunch.value)">
  <mat-form-field>
    <mat-label>Ort</mat-label>
    <input matInput formControlName="location">
  </mat-form-field>
  <mat-list>
    <div formArrayName="meals">
      <div *ngFor="let meal of meals.controls; let i = index">
        <mat-list-item>
          <mat-form-field>
            <mat-label>{{i+1}}.Essen</mat-label>
            <input matInput [formControlName]="i">
          </mat-form-field>
          <button mat-icon-button aria-label="Add Entry" (click)="addMeal()" *ngIf="lastItem(i)">
            <mat-icon>add_circle</mat-icon>
          </button>
          <button mat-icon-button aria-label="Delete Entry" (click)="removeMeal(i)" *ngIf="!lastItem(i)">
            <mat-icon>remove_circle</mat-icon>
          </button>
        </mat-list-item>
      </div>
    </div>
  </mat-list>
  <button mat-fab aria-label="Submit" type="submit" mat-stroked-button	>
    <mat-icon>send</mat-icon>
  </button>
</form>
